<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<body class="p-5">
		<header class="NavBar"><%- include('../partials/header'); %></header>
		<main><%- include('../partials/submitForm'); %></main>
	</body>
</html>
