<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<body class="p-5">
		<header class="NavBar"><%- include('../partials/header'); %></header>
		<main>
			<h1 class="mt-3">Your Downloads Section</h1>
		</main>
	</body>
</html>
